<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Parâmetros</a></li>
    <li class="breadcrumb-item active" aria-current="page">Usuários</li>
  </ol>
</nav>

<div [class]="'alert alert-' + alertaTipo" role="alert" *ngIf="alertaMensagem">
  {{ alertaMensagem }}
</div>

<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      Lista de Usuários
    </div>
    <div class="card-body">
      <form>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="nome">Nome:</label>
              <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="filter.nome">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="situacao">Situação:</label>
              <select class="form-control" id="situacao" name="situacao" [(ngModel)]="filter.situacao">
                <option value="">Todos</option>
                <option value="A">Habilitado</option>
                <option value="I">Desabilitado</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="coFuncao">Função: *</label>
              <select class="form-control" id="idPerfilAcesso" name="perfil" [(ngModel)]="filter.perfil">
                <option value="">Todos</option>
                <option value="0">Aluno</option>
                <option value="1">Gestor Municipal</option>
                <option value="2">Gestor Estadual</option>
                <option value="3">Gestor Nacional</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button class="btn btn-primary float-right" (click)="getUsuarios()">Pesquisar</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <button type="button" class="btn btn-primary float-left" routerLink="/formulario-usuario">Incluir</button>
        </div>
        <!-- <div class="col-6">
          <button type="submit" class="btn btn-primary float-right">Pesquisar</button>
        </div> -->
      </div>
      <br>
      <div class="row">
        <div class="col-12">
          <table class="table">
            <thead class="thead-light">
              <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Nome</th>
                <th scope="col">Perfil</th>
                <th scope="col">Habilitado</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of usuarios">
                <td>{{ usuario.deEmail }}</td>
                <td>{{ usuario.noUsuario }}</td>
                <td>{{ getPerfil(usuario.idPerfilAcesso) }}</td>
                <td>
                  <span class="badge badge-success pointer" *ngIf="usuario.icSituacao === 'A'"
                    (click)="habilitaDesabilitaUsuario(usuario)">Habilitado</span>
                  <span class="badge badge-danger pointer" *ngIf="usuario.icSituacao === 'I'"
                    (click)="habilitaDesabilitaUsuario(usuario)">Desabilitado</span>
                </td>
                <td>
                  <a class="pointer" data-toggle="modal" data-target="#exclusaoModal"
                    (click)="usuarioSelecionado = usuario">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exclusaoModal" tabindex="-1" role="dialog" aria-labelledby="exclusaoModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exclusaoModalLabel">Exclusão de usuário</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja realmente excluir o usuário {{ usuarioSelecionado.noUsuario }}?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Não</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          (click)="excluiUsuario(exclusaoModal)">Sim</button>
      </div>
    </div>
  </div>
</div>